	<!-- using header partial -->
	{{> header}}
	<h1>{{title}}</h1>
	<!-- using hbs helper which takes parameter -->
	<h3>{{screamIt welcomeMessage}}</h3>
	<p> This is filler text</p>
	<!-- To use footer partial -->
	{{> footer}}